.todo {
    margin-left: 1.25rem;
    cursor: pointer;
    user-select: none;
    padding-top: 10px;
    width: 300px;
}

.container {
    display: flex;
    width: 400px;
    margin-top: 20px;
}

.checkbox {
    width: 48px;
}

.striked {
    text-decoration: line-through;
}