{
    "presets": [
        [
            "@babel/env", 
            {
                "targets": {
                    "node": "current",
                    "ie": "9"
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}
